.info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profilePic {
  margin-right: 10px;
  margin-bottom: 20px;
}

.details {
  text-align: center;

  & > div {
    margin: 10px;
  }
}

.infoLine {
  & > * {
    margin: 5px;
  }
}