@import '../../../sass/variables.global.';

.container {
  padding: 15px;
  text-align: center;
  background-color: $light;
  color: $dark;
}

.secondaryInfo {
  margin-top: 10px;
  font-size: 0.8em;
}

.payForm {
  margin: 20px auto;
  max-width: 300px;
}