@import '../../../../css/variables.global.';

$seatWidth: 40px;

.container {
  text-align: center;
  border: 1px solid $light;
  margin: 5px;
  padding: 5px;
  height: 60px;
  min-width: $seatWidth;
  overflow: hidden;
}

.available {
  background-color: $light;
  color: $dark;
}

.occupied {
  background-color: transparent;
}

.temporaryOccupied {
  background-color: transparentize($light, 0.75);
}

.selected {
  background-color: #41c5da;
  color: white;
}

.vip {
  min-width: $seatWidth * 2;
}

.for_couples {
  min-width: $seatWidth * 3;
}
