@import '../../../../css/variables.global.';

.container {
  text-align: center;
  border: 1px solid $light;
  margin: 5px;
  padding: 5px;
  height: 60px;
}

.available {
  background-color: $light;
  color: $dark;
}

.selected {
  background-color: #41c5da;
  color: white;
}

.occupied {
  background-color: transparent;
}

.temporaryOccupied {
  background: transparentize($light, 0.75);
}
