@import '../../../../sass/variables.global.';

$seatWidth: 40px;

.container {
  cursor: pointer;
  background-color: $light;
  color: $dark;
  user-select: none;
  text-align: center;
  border: 1px solid $light;
  margin: 5px;
  padding: 5px;
  height: 60px;
  min-width: $seatWidth;
  overflow: hidden;
}

.paid {
  cursor: auto;
  background-color: transparent;
  color: $light;
}

.waiting_for_payment {
  background-color: transparentize($light, 0.5);
}

.selected {
  background-color: #41c5da;
  color: white;
}

.vip {
  min-width: $seatWidth * 2;
}

.for_couples {
  min-width: $seatWidth * 3;
}
