@import "../../css/variables.global.";

.header {
  background-color: $dark;
  height: 300px;
  text-align: center;
}

.logo {
  color: $text-color-light;
  line-height: 300px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 80px;
}