@import '../../../sass/variables.global.';

.container {
  margin-top: 50px;;
  padding: 10px;
  background-color: $light;
  color: $dark;
}

.orderInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
