@import "../../global.scss";

.container {
    padding: 15px;
    text-align: center;
}

.details {
    margin: 20px;
}

.details > div {
    display: inline-block;
}

.poster {
    border: 2px solid $dark;
}

.poster img {
    width: 320px;
}

.info {
    vertical-align: top;
    margin-left: 15px ;
}

.info > div {
    margin: 10px;
    background-color: $dark;
    color: $light;
    padding: 10px
}

.title {
    text-align: center;
    margin: 10px;
}
